nav {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: larger;
  position: fixed;
  top: 0;
}

#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 700px;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.fix_video {
  width: 75%;
  height: 700px;
  margin: 15px;
  border: 2px solid black;
}

.card_container {
  margin-top: 10px;
  margin-bottom: 25px;
}

.line {
  border-top: 3px solid black;
}

.tr_style {
  margin: 30px;
}

.tour_routes {
  margin-top: 15px;
}

.card_photos {
  height: 190px;
}

.floating_btn {
  width: 80px;
  height: 80px;
  background: #25d366;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.floating_btn:hover {
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1280px) {
  .fix_carousel {
    width: 100%;
    height: 30vh;
    margin: 0px;
  }
}
